body {
    height: 100%;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.block__btn {
    display: flex;
    gap: 5px;
}

.btn {
    padding: 20px;
    background-color: rgb(107, 110, 255);
    color: #fff;
    gap: 5px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}

.default__state {
    font-size: 2rem;
    padding: 20px;
    border-radius: 15px;
    margin-right: 5px;
}